
<body style="background-image: linear-gradient(to bottom, rgb(250, 248, 181), rgba(255, 0, 0,0));">
  


<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f6dd53;">
      <div class="container-fluid">
          <img style="height: 30px; width: auto;" src="https://cdn-icons-png.flaticon.com/512/1518/1518840.png" alt="">
          &nbsp;
          &nbsp;
          <a style="font-size: 30px;" class="navbar-brand" routerLink="/">MNSS Insurance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/healthpoliciy">Health Policies</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/homepoliciy">Home Policies</a></li>
              </ul>
            </li>

           
            <li class="nav-item">
              <a class="nav-link active" (click)="logout()" aria-current="page" >Logout</a>
            </li>

        
            
          </ul>

          <form class="d-flex">  
              <img style="height: 30px;" src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png" alt="">
              &nbsp; &nbsp;
              <h5 style="padding-top: 5px;">{{emailid}}</h5>
            </form>
          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Launch demo modal
            </button>
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModallogin">Login</button>  -->
          
        </div>
      </div>
    </nav>
  </div>

<div class="container" *ngIf="homepolicy">
    <div class="card text-dark  mb-3" style="width: 700px; margin-left: 250px; margin-top: 20px; box-shadow: 5px 5px 10px; background-color: azure;">
      <div class="card-header"><b>User's Policy Details</b></div>
      <div class="card-body">
        <!-- <h5 class="card-title">Email Id: {{emailid}}</h5>
        <h5 class="card-title">Phone Number: {{phonenumber}}</h5> -->
        <br>
        <p class="card-text">Policy Name: {{homepolicy.policyname}}</p>
        <p class="card-text">Policy Id: {{homepolicy.policyid}}</p>
        <p class="card-text">Policy Description: {{homepolicy.policydescription}}</p>
        <p class="card-text">Sumassurance: {{homepolicy.sumassurance}}</p>
        <p class="card-text">Policy Premium: {{homepolicy.premium}}</p>
        <p class="card-text">Status:{{mypolicy.status}}</p>
        <p class="card-text">Payment:{{mypolicy.payment}}</p>
        <br>


      <div  *ngIf=" mypolicy.status  === 'Approved' ">
        <form #cart="ngForm" (ngSubmit)="payPremium()">
          
        <input  type="number" name="premium" [maxlength]="homepolicy.premium" style="border-radius: 25px;" [(ngModel)]="premium">
        &nbsp;  &nbsp;
        <button  class="btn btn-warning" type="submit"  >Pay Premium</button>
        </form>
      </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="policy">
    <div class="card text-dark  mb-3" style="width: 700px; margin-left: 270px; margin-top: 40px; box-shadow: 5px 5px 10px; background-color: azure;">
      <div class="card-header"><b>User's Policy Details</b></div>
      <div class="card-body">
        <!-- <h5 class="card-title">Email Id: {{emailid}}</h5>
        <h5 class="card-title">Phone Number: {{phonenumber}}</h5> -->
        <br>
        <p class="card-text">Policy Name: {{policy.policyname}}</p>
        <p class="card-text">Policy Id: {{policy.policyid}}</p>
        <p class="card-text">Policy Description: {{policy.policydescription}}</p>
        <p class="card-text">Sumassurance: {{policy.sumassurance}}</p>
        <p class="card-text">Policy Premium: {{policy.premium}}</p>
        <p class="card-text">Status:{{mypolicy.status}}</p>
        <p class="card-text">Payment:{{mypolicy.payment}}</p>
        <br>
        

      <div  *ngIf=" mypolicy.status  === 'Approved' ">
        <form #cart="ngForm" (ngSubmit)="payPremium()">
          
        <input  type="number" name="premium" [maxlength]="policy.premium" style="border-radius: 25px;" [(ngModel)]="premium">
        &nbsp; &nbsp;
        <button  class="btn btn-warning" type="submit"  >Pay Premium</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</body>